<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../Styles/Search.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
    <script src="../Scripts/jquery-3.5.1.js"></script>
    <script src="../Scripts/search.js"></script>
    <script src="../Scripts/searchResults.js"></script>
    <title>Search Results</title>
</head>
<body>
   <div id="header">
       <!-- Header is loaded here using jquery -->
   </div>
   <div id="main-content" class="container">
       <h3>Result(s):</h3>
       <div class="container">
        <div id="msg" class="row row-cols-4">

        </div>
       </div>
   </div>
   <div id="footer">
       <!-- Footer is loaded here using jquery -->
   </div>
</body>
</html>